@()

@main("About") {
    
<p>
This work was supported by a grant from the <a href="http://www.snf.ch">Swiss National Science Foundation</a> and the <a href="http://www.grandchallenges.org/Pages/Default.aspx">Bill and Melinda Gates Foundation Grand Challenges Exploration</a>. 
</p>
<p>
This work was performed by 
<ul>
<li>
Pejman Mohammadi and Niko Beerenwinkel from the <a href="http://www.bsse.ethz.ch/cbg/people">Department of Biosystems Science and Engineering, ETH Zurich</a>. 
</li>
<li>
Beda Joos, Huldrych G&#252;nthard from the <a href="http://www.en.infektiologie.usz.ch/Pages/default.aspx" >Division of Infectious Diseases and Hospital Epidemiology, University Hospital Zurich</a>.
</li>
<li>
S&eacute;bastien Desfarges, Istvan Bartha, Nadine Zangger, Miguel Munoz, Amalio Telenti, Angela Ciuffi from the <a href="http://www.chuv.ch/imul">Institute of Microbiology, University Hospital Center and University of Lausanne</a>.
</li>
</ul>
</p>
 
 
    
}