@(geneSets:Map[String,hiv24.GeneSet], queryForm:Form[Option[String]])

@import hiv24._
@import views.html.helper._
@implicitField = @{ FieldConstructor(fieldConstructor.f) }

@main("Predefined gene classes") {



    
 @views.html.filterForm(queryForm)

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Gene classes</th>
    </tr>
  </thead>
  <tbody>
  @geneSets.keys.toSeq.sorted.map{ gs =>
	
	<tr>
      <td><a href="@routes.Application.showGeneSet(gs)">@gs</a></td>      
    </tr>

}
    
  </tbody>
</table>



    
}