@(clusters:Traversable[hiv24.Cluster], 
clusterForm:Form[hiv24.Cluster],
geneInputForm:Form[Tuple2[String,Option[String]]])

@import views.html.helper._

@implicitField = @{ FieldConstructor(fieldConstructor.f) }


@main("Welcome") {

<header class="subhead">
<h1>What is this</h1>
<p class="lead">Description</p>
</header>
    
    <section>
  <div class="row">
  <div class="span4">
 @form(routes.Application.showClusterFromForm, 'class->"form-inline") {
        <fieldset>
        <legend>Look up a cluster</legend>
        @select(clusterForm("clusterID"),clusters.map(x => (x.id.toString,x.id.toString)).toSeq, '_label -> "",'_showConstraints -> "false") 
        </fieldset>
        
        <input type="submit" value="Submit" class="btn">
        
    }
    </div>

      <div class="span4">
   @form(routes.Application.listGenesFromForm, 'class->"form-inline") {
    <fieldset>    
            <legend>Search a custom set of genes</legend>

    @textarea(geneInputForm("idList"), '_label->"",'placeholder->"List of gene IDs",'class->"input-xlarge", 'cols -> "20", 'rows -> "10" )
    </fieldset>

    <input type="submit" value="Submit" class="btn">

   }
   </div>

    <div class="span4">
    <legend>Browse the predefined classes</legend>
   <a class="btn btn-primary pull-right" href="@routes.Application.showAllGeneSets"> Browse </a>
</div>
       
    </div>
       </section>

 

   

   
 
   
    
}