@(data:  Tuple2[hiv24.Cluster,Traversable[Tuple2[hiv24.GeneSet,hiv24.EnrichmentResult]]])

<h6>Cluster @data._1.id is enriched in the following gene classes</h1>

 <table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>GeneSet Name</th>
      <th>GeneSet DB</th>
      <th>-log(P)</th>
    </tr>
  </thead>
  <tbody>
  	@data._2.map { res =>
    <tr>
      <td><a href="@routes.Application.showGeneSet(res._1.name)">@res._1.name</a></td>
      <td>@res._1.dataBase</td>
      <td>@res._2.logP</td>
    </tr>
}
  </tbody>
</table>
    
